<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h1>Ajouter un nouveau signet à <%= @list.name %></h1>
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <div>
            <%= f.label :movie_id %>
            <%= f.association :movie, collection: Movie.all, label_method: :title, value_method: :id, include_blank: true %>
          </div>
          <div>
             <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
          </div>
          <div>
            <%= f.submit "Ajouter le signet", class: "btn btn-flat" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
